certifi==2020.6.20
click>=8.0
dnspython>=2.0.0
dill>=0.3.2
Flask==2.1.0
Flask-SocketIO==4.3.0
greenlet>=1.0.0
itsdangerous==2.0
Jinja2==3.1.0
MarkupSafe==2.0
monotonic==1.5
python-engineio==3.13.0
python-socketio==4.6.0
six==1.15.0
Werkzeug==2.0.3
tensorflow>=2.4.0
requests==2.23.0
protobuf>=3.19.0,<4.0
scipy
numpy>=1.26,<2.0
gym==0.26.2
gymnasium==0.29.1
ray==2.6.3
dm-tree
lz4
scikit-image
tensorboardX>=1.9
torch
stable-baselines3==2.7.1
sb3-contrib==2.7.1
